*{
	margin:0;
	padding:0;
}

body{
    font-family:Arial;
    background:#333; /*es para que el fondo se ponga gris*/
	/*color:white; color de letra
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;*/
}

nav {
	top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:1200px;
	width:90%;
	
}

nav ul {
	list-style:none;
	
}

nav > ul {
	display:table;
	/*overflow:hidden;*/
	width:100%;
	background:#000; /*aqui para cambiar de color el cuadro*/
	position:relative;
	
}

nav > ul li {
	display:table-cell;
	
}


/*sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
	
}

nav > ul > li  > ul {  
	display:inline-block;
	position:absolute;
	background:#DDD; /*#000;*/ /*Aqui para cambiar color cuando se desliza hacia abajo el submenu*/
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	
}

nav > ul li a {
	color:#229706; /*cabiar color de letra del menu*/
	display:block;
    font-family:Arial;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	
}

nav > ul > li > ul > li a:hover {
	background:#5da5a2;
	
}

nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
} 

nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
	
}

nav > ul > li > a:hover > span  {
	top:0;

}

/*colores*/
nav ul li a .primero{
	background:#20B2AA;
}

nav ul li a .segundo{
	background:#87CEFA;
}

nav ul li a .tercero{
	background:#778899;
}

nav ul li a .cuarto{
	background:#00FF7F;
}

nav ul li a .quinto{
	background:#008080;
}

nav ul li a .sexto{
	background:#FF6347;
}

nav ul li a .septimo{
	background:#A52A2A;
}

nav ul li a .octavo{
	background:#4169E1;
}

/*aqui comienza el diseño del texto principal*/

aside,section#contenedor,section#contenido,footer ,#audio{
	border-radius:.5em; /*es el tamaño del redondeo*/
	background: rgba(20,20,20, 0.45); /*color del redondeo*/ /*background: rgba(20,20,20, 0.55);*/ /*sirve para dar trasnparencias a las cajas de texto*/
	margin:.3em auto; /* esto es para que se centre y guarde su espacio entre cada uno de los elementos*/
	padding:.3em; /*sirve para que se separe del contenedor*/
	text-align:center;/*se alinea el texto al centro*/
	width:73.2%; /*aqui sirve para dar tamaño al cuadro principal*/
	/*font-size:130%;*/ /*es para cambiar el tamaño del texto*/
	/*aqui es para sombrear*/
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.6) 0px 5px 10px;
	font-family:helvetica, arial, sans-serif;
	
}

aside,section#contenido{
	display:inline-block; /*significa que como bloque cada linea se pondra en su lugar*/
	background: rgba(20,20,20, 0.40); /*es para que cambie de color mas claro*/
	min-height:200px;/*significa que minimo el alto de nuestra seccion y el aside va a ser de 200px pero dependiendo del contenido se va adaptar y pueda hacerse mas grande de esos 200px*/
	vertical-align:top; /*esto es para que al reducir las ventanas se alinien "texto" y "noticias o redes sociales"*/
	/*width:45%;*//*significa que depende del dispositvo que vea la pagina, esto hace que de adapte*/
	
	/*width:90%;*/ /*sirve para el ancho de la caja de texto pequeño*/
	/*para sombrear las cajas de texto*/
	
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.6) 0px 5px 10px;
    color:#EFFBF2; /*aqui se cambia el color de texto*/
	font-size:100%;
}

/*aside{ */ /* es para que se haga mas pequeño el contenido de "noticias o redes sociales"*/
	/*width:73%;
	
} */

footer{ /*es el pie de la pagina o el texto que va al final de la pagina web*/
	font-size:100%;
	background: rgba(20,20,20, 0.45);
	/*width:90%;*/
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.65) 0px 5px 10px;
	color:#DDD;
	font-size:100%;
	
}

#audio, #audio{
	display:inline-block; /*significa que como bloque cada linea se pondra en su lugar*/
	background: rgba(20,20,20, 0.45); /*es para que cambie de color mas claro*/
	/**min-height:200px;*/ /*significa que minimo el alto de nuestra seccion y el aside va a ser de 200px pero dependiendo del contenido se va adaptar y pueda hacerse mas grande de esos 200px*/
	vertical-align:top; /*esto es para que al reducir las ventanas se alinien "texto" y "noticias o redes sociales"*/
	/*width:90%; */
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.6) 0px 5px 10px;
	color:#DDD;
	font-size:100%;
	
}

/*aqui para hacer el formulario*/

form{
	/*width:25%; /*es el tamaño deñ rectangulo*/
	/*border:1px solid #ccc; /*es el marco del formulario*/
	margin:20px;
	padding:20;
}

label{
	font-size:20px;
	display:block;
	width:100%;
}

textarea{  /*es para ajustar la caja de texto*/
	resize:vertical;
	max-height:300px;
	min-height:100px;
}

input, textarea {
	margin-bottom:20px;
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #ccc;
}

input:focus, textarea:focus{
	border:1px solid #1668C4;
}

input[type="submit"]{ /*es el espacio del boton enviar*/
	margin-bottom:0;
	background:#1668C4; /*es el color del boton enviar*/
	color:#fff;
	border:none;
}

input[type="submit"]:hover{  /*es cuando pasamos el mouse cambia del color*/
	background:#4A88F4;
	cursor:pointer; /*lo que hace es cambiar de cursor al seleccionar el boton enviar*/
}

/*aqui empieza el slider*/

.main {
	width:90%;   /*sirve para cambiar tamaño*/
	max-width:1000px;
	margin:20px auto;
	
}

.slides {
	width:100%;
	
}

.slides img {
	width:100%;
	
}

.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
	
}

.slidesjs-pagination li {
	float:left;    /*sirve para que el elemento se ponga a lado de uno de otro*/
	
}

.slidesjs-pagination li a{
	display:block;     /*para modificar el ancho y el alto*/
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
	
}

.slidesjs-pagination li a:hover {  /*al pasar el mouse se convierte en negro*/
	background:#000;
	
}

.slide .active {  /*sirve para que el elemento a la hora de seleccionar co el mouse se ponga negro el numero*/
	background:#000;
}

.slidesjs-navigation {
	background:#000;
	color:#fff;
	text-decoration:none;
	display:incline-block;
	padding:11px 20px;
	float:right;	
}

.contenedor {
	    width: 90%;
	    max-width:900px;
	    margin:auto;
        text-align:justify;
        }
        article {
	    background: rgba(20,20,20, 0.55); /*background:rgba(24,8,33,.9);*/
	    padding:20px;
	    margin:20px 0;
	    color:#fff;
	    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
        }
        article h2 {
	    color:#fff;
        }
article hr {
	background:#229706;
	height:5px; /*raya <hr>*/
	border:none;
}
 
article p {
	line-height: 25px;
    font-family:Arial;
    /*font-size:2em;*/
}
 
article h2, article p, article hr {
	margin-bottom: 20px;
}

/*Slider de las imagenes de fondo*/
        .contenido{
            width:100%;
            height:100%;
        }
        .backgroundslider{
            width:100%;
            height:100%;
            position:fixed;
            top:0px;
            left:0px;
            z-index:-1;
        }
        .backgroundslider li{
            position:absolute;
            width:100%;
            height:100%;
            background-position:center center;
            background-repeat: no-repeat;
            background-size:cover;
            opacity:0;
            animation:imagenes 18s linear infinite;
            -moz-animation:imagenes 18s linear infinite;
            -ms-animation:imagenes 18s linear infinite;
            -o-animation:imagenes 18s linear infinite;
            -webkit-animation:imagenes 18s linear infinite;
        }
        .backgroundslider li:nth-child(1){
            background-image:url(image/paisaje1.jpg); 
        } 
        .backgroundslider li:nth-child(2){
            background-image:url(image/paisaje2.jpg);
            animation-delay:6s;
            -moz-animation-delay:6s;
            -ms-animation-delay:6s;
            -o-animation-delay:6s;
            -webkit-animation-delay:6s; 
        }
        .backgroundslider li:nth-child(3){
            background-image:url(image/paisaje3.jpg);
            animation-delay:12s;
            -moz-animation-delay:12s;
            -ms-animation-delay:12s;
            -o-animation-delay:12s;
            -webkit-animation-delay:12s;
        } 
        /*.backgroundslider li:nth-child(4){
            background-image:url(image/IMP4.jpg);
            animation-delay:18s;
            -moz-animation-delay:18s;
            -ms-animation-delay:18s;
            -o-animation-delay:18s;
            -webkit-animation-delay:18s;
        }  
        .backgroundslider li:nth-child(5){
            background-image:url(image/IMP5.jpg);
            animation-delay:24s;
            -moz-animation-delay:24s;
            -ms-animation-delay:24s;
            -o-animation-delay:24s;
            -webkit-animation-delay:24s;
        }*/ 
        @keyframes imagenes{
            0% {opacity:0; animation-timing-function:ease-in;}
            10% {opacity:1; animation-timing-function:ease-out;}
            25% {opacity:1; transform:scale(1);}
            50% {opacity:0; transform:scale(2) rotate(20deg);}
            100% {opacity:0;}
        }
        @-moz-keyframes imagenes{
            0% {opacity:0; animation-timing-function:ease-in;}
            10% {opacity:1; animation-timing-function:ease-out;}
            25% {opacity:1; transform:scale(1);}
            50% {opacity:0; transform:scale(2) rotate(20deg);}
            100% {opacity:0;}
        }
        @-o-keyframes imagenes{
            0% {opacity:0; animation-timing-function:ease-in;}
            10% {opacity:1; animation-timing-function:ease-out;}
            25% {opacity:1; transform:scale(1);}
            50% {opacity:0; transform:scale(2) rotate(20deg);}
            100% {opacity:0;}
        }
       /* @-ms-keyframes imagenes{
            0% {opacity:0; animation-timing-function:ease-in;}
            10% {opacity:1; animation-timing-function:ease-out;}
            25% {opacity:1; transform:scale(1);}
            50% {opacity:0; transform:scale(2) rotate(20deg);}
            100% {opacity:0;}
        }
        @-webkit-keyframes imagenes{
            0% {opacity:0; animation-timing-function:ease-in;}
            10% {opacity:1; animation-timing-function:ease-out;}
            25% {opacity:1; transform:scale(1);}
            50% {opacity:0; transform:scale(2) rotate(20deg);}
            100% {opacity:0;}
        }*/
        /*texto de bienvenidos*/
       /* .testbox{
            background:#808080;
            border-radius:8px; /*border:1px solid black;
            padding: 5px;
            margin: 15px 5px;
            width: 400px;
            -webkit-transition:width 3s, color 2s;
            color:white;
        }*/
       /* .testbox:hover{
            width:545px;
            color: red; /*white

        }*/
      /* #texto{
            text-align:center;
            font: bold 20px Tahoma;
            width:80%;  
        }*/

        div#banner{
	    width:100%;
	    height:209px;
	    background-color:#e3e3e3;
	    height:auto;
        }

        img#img_banner{
	    display:block;
	    margin:auto;
	    width:100%;
	    max-width:600px; /*aqui es para cambiar el tamaño de la imagen banner*/
	    min-width:100px;
	    }

        







